@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

$primary-font:          'Open Sans', sans-serif;
$primary-font-weight:   300;

$default-margin:        16px;
$default-padding:       16px;
$default-padding-sm:    8px;

// ----------------------------------------
// colors
// ----------------------------------------
$eggplant:              #1B1B24;
$light-eggplant:        #282936;
$light-purple:          #8A8DB7;
$blue:                  #4384D8;
$green:                 #339966;
$pink:                  #FE57A1;
$yellow:                #FFC107;
$turquoise:             #26CCDA;
$grey:                  #888;

// ----------------------------------------
// mixins
// ----------------------------------------

// Center an element's contents both vertically and horizontally
@mixin center() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// ----------------------------------------
// default element styles
// ----------------------------------------
* {
  margin: 0px;
  padding: 0px;
  cursor: inherit;
  font-family: inherit;
  font-weight: inherit;
}

html {
  height: 100%;
}

body {
  height: 100%;

  font-family: $primary-font;
  font-weight: $primary-font-weight;
  color: white;

  background-color: $eggplant;

  @include center();
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

ul {
  list-style: none;
  list-style-type: none;
}

textarea:focus, input:focus, button:focus {
  outline: none;
}

button {
  padding: $default-padding-sm;
  font-size: 20px;
  border: none;

  &:hover, &:focus {
    border: 1px solid white;
  }
}

textarea {
  padding: $default-padding;
  font-size: 14px;
}

// ----------------------------------------
// common custom classes
// ----------------------------------------
.main {
}

.well {
  background-color: $light-eggplant;
  padding: $default-padding;
  margin: $default-margin 0px;
  // overflow: auto;
}

.clickable {
  cursor: pointer;
}

.cf {
  clear: both;
}

.btn {
  cursor: pointer;
}

.ba {
  &::after {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-color: transparent;
    border-top-color: $yellow;
    content: '';
    pointer-events: none;
    top: 99%;
  }
}

.ba-right {
  &::after {
    left: 80%;
  }
}

// ----------------------------------------
// login
// ----------------------------------------
.btn-github, .btn-google {
  background-color: $eggplant;
  color: $light-purple;
  @include center();
  flex-direction: row;

  i {
    padding-right: 16px;
  }

  &:hover, &:focus {
    color: white;
  }
}

.btn-github {
  margin-bottom: 10px;
}

// ----------------------------------------
// web app
// ----------------------------------------

.listMessages {

  .message {
    background-color: $yellow;
    color: $eggplant;
    position: relative;
    padding: $default-padding;
    margin: $default-margin 0px;

    .date {
      float: right;
      font-size: xx-small;
      padding-top: 10px;
    }
  }
}

.bottomBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: $default-margin;
  @include center();
  flex-direction: row;

  textarea {
    width: 500px;
    height: 30px;
  }

  .send {
    background-color: $green;
    width: 48px;
    height: 32px;
    line-height: 32px;
    padding: $default-padding;
    text-align: center;
  }
}
