doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    // Styles
    link(rel='stylesheet', href='/css/bower.min.css')
    link(rel='stylesheet', href='/css/client.min.css')

body
  block content