extends ./layout.jade

block content
  h1 Login

  div.well
    div.btn-lg.btn-github.clickable
      i.fa.fa-github-alt
      div Log in with Github

    div.btn-lg.btn-google.clickable
      i.fa.fa-google
      div Log in with Google
