extends ./layout.jade

block content
  h1 Login

  div.well
    a(href='/auth/github')
      button.btn-lg.btn-github.clickable
        i.fa.fa-github-alt
        div Log in with Github

    a(href='/auth/google')
      button.btn-lg.btn-google.clickable
        i.fa.fa-google
        div Log in with Google